﻿@model WordDecoderWeb.Models.NumericalViewModel

<div class="numeric-info container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <strong>@Model.Number</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            The sum of numbers 1 through @Model.Number is <strong>@Model.CompositeSum</strong>
        </div>
    </div>
    @if (Model.Prime != 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <strong>@Model.Prime</strong> is the @Model.Number prime number.
            </div>
        </div>
    }
    @if (Model.PrimeOrdinal != null)
    {
        <div class="row">
            <div class="col-xs-12">
                @Model.Number is the <strong>@Model.PrimeOrdinal</strong> prime number.
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            The sum of @Model.Number's divisors is <strong>@Model.SumOfDivisors</strong> (
            @foreach (var divisor in Model.Divisors)
            {
                <span>@divisor</span>
            }
            )
        </div>
    </div>
    @if (Model.Fibonacci > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <strong>@Model.Fibonacci</strong> is the @Model.Number Fibonacci number.
            </div>
        </div>
    }
    @if (Model.FibonacciOrdinal > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                @Model.Number is the <strong>@Model.FibonacciOrdinal</strong> Fibonacci number.
            </div>
        </div>
    }

</div>
