﻿@model IEnumerable<Numbers.Models.Word>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Word</th>
            <th>Jewish</th>
            <th>English Sumerian</th>
            <th>Simple English</th>
            <th>English Reduction</th>
            <th>K/V Exception</th>
            <th>S Exception</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var word in Model)
        {
            if (!string.IsNullOrWhiteSpace(word.Name))
            {
                <tr>
                    <td><strong><a href="http://www.gematrix.org/?word=@word.Name">@word.Name</a></strong></td>
                    <td><a href="https://yourbrokenreality.tumblr.com/@word.Jewish">@word.Jewish</a></td>
                    <td><a href="https://yourbrokenreality.tumblr.com/@word.English">@word.English</a></td>
                    <td><a href="https://yourbrokenreality.tumblr.com/@word.SimpleEnglish">@word.SimpleEnglish</a></td>
                    <td><a href="https://yourbrokenreality.tumblr.com/@word.EnglishReduction">@word.EnglishReduction</a></td>
                    @if (word.EnglishReduction != word.Pythagorean)
                    {
                        <td><a href="https://yourbrokenreality.tumblr.com/@word.Pythagorean">@word.Pythagorean</a></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (word.Pythagorean != word.SExceptionPythagorean)
                    {
                        <td><a href="https://yourbrokenreality.tumblr.com/@word.SExceptionPythagorean">@word.SExceptionPythagorean</a></td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        }

    </tbody>
</table>
