﻿@model WordDecoderWeb.Models.GematriaValueViewModel

<div class="row">
    <div class="col-xs-3">
        <form id="word-entry" method="POST">
            <div class="form-group">
                @Html.TextBoxFor(x => x.Word)
            </div>
            <div class="form-group">
                <button id="calculateButton" type="submit" class="btn btn-primary">Calculate</button>
            </div>
        </form>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <br />
            <br />
            <button id="clear" class="btn btn-danger" type="submit">Clear Table</button>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <div class="numerical-results">
                @if (Model.NumericalModel.Number != 0)
                {
                    @Html.Partial("_NumericInfo", Model.NumericalModel)
                }                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="gematria-results col-xs-12">
        @Html.Partial("_ResultsTable", Model.Words)
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calculateButton').click(function (e) {
                e.preventDefault();
                var url = "@Url.Action("Calculate", "Home", new { id = UrlParameter.Optional })";
                var params = $('#word-entry').serialize();
                $.post(url, params, function (result) {
                    if (isNaN(params.substr(5)) || params.substr(5) == "") {
                        $('.gematria-results').html(result);
                    }
                    else if(params.substr(5) != "") {
                        $('.numerical-results').html(result);
                    }
                });

                $('#Word').val("");
                $('#Word').focus();
            });

            $('#clear').click(function (e) {
                e.preventDefault();
                var url = "@Url.Action("Clear", "Home", new { id = UrlParameter.Optional })";
                $.post(url, function (result) {
                    $('.gematria-results').html(result);
                });
            });
        });
    </script>
}
