﻿@model WordDecoderWeb.Models.StatsIndexViewModel

<div class="row">
    <div class="col-xs-2">
        <input id="input" type="text"/>
    </div>
    <div class="col-xs-1">
        <button id="submit">Submit</button>
    </div>
    <div class="col-xs-1">
        <button id="reset">Reset</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="dataView">
            @Html.Partial("_Chart", Model)
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    $('#submit').on('click', function () {
        var input = 'input=' + $('#input').val();
        var url = "@Url.Action("Calculate")";

                $.post(url, input, function (data) {
                    $('#dataView').html(data);
                });
        });

        $('#reset').on('click', function () {
            $('#input').val("");
            var url = "@Url.Action("Reset")";
            $.post(url, function(data) {
                $('#dataView').html("");
            });
        });
</script>
}

