﻿body {
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gematria-results {
    position: relative;
}

.numerical-results {
    padding: 5px;
    border: 3px solid black;
    background-color: lightblue;
    width: 30em;
    height:150px;
    text-wrap: normal;
}

a:link {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: orange;
}
